#footer {
  font-family: 'Poppins', sans-serif;
  padding: 70px 0;
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a:hover{
      color: #1B76F9;
    }
    &--logo {
      &__h1 {
        display: flex;
        align-items: center;
        gap: 10px;

        a {
          font-weight: 600;
          font-size: 21px;
          line-height: 32px;
          color: #004A60;
        }
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 74, 96, 0.7);
        width: 257px;
        margin-top: 15px;
      }
    }

    &--menu {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 50px;

      &__all {
        display: flex;
        flex-direction: column;

        h3 {
          font-weight: 600;
          font-size: 21.33px;
          line-height: 32px;
          color: #004A60;
          margin: 0 0 10px 0;
        }

        a {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: rgba(0, 74, 96, 0.7);
          padding: 5px 0;
        }
        &--icon{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
        }
      }
    }
  }
}