@media (max-width: 1140px) {
  .container{
    width: 90%;
  }
  #buy .buy--more__sale hr{
    width: 210px;
  }
  #dream .dream--photos__four{
    padding: 0;
    margin-left: 10px;
  }
  #dream .dream--photos__four img{
    width: 170px;
    height: 150px;
  }
  #dream .dream--texts__text {
    width: 920px;
  }
  #dream .dream--texts__stay p {
    width: 500px;
  }
}
@media (max-width: 1024px) {
  #buy .buy--inputs__pro--add input{
    width: 433px;
  }
  #buy .buy--more__sale hr{
    width: 300px;
  }
  #buy .buy--inputs__pro--add input{
    width: 420px;
  }
  #buy .buy--more__sale hr{
    width: 244px;
  }
  #buy .buy--more__sale hr{
    width: 180px;
  }
}
@media (max-width: 992px) {
  #buy .buy--more__sale hr{
    width: 300px;
  }
  #buy .buy--inputs__pro--add input{
    width: 420px;
  }
  #buy .buy--more__sale hr{
    width: 244px;
  }
  #buy .buy--more__sale hr{
    width: 180px;
  }
}
@media (max-width: 820px) {
  #buy .buy--more__sale hr{
    width: 180px;
  }
  #buy .buy--inputs__sell--to{
    width: 125px;
  }
  #buy .buy--inputs__pro--add input{
    width: 277px;
    font-size: 13px;
  }
  #buy .buy--inputs__pro--add__bs button{
    font-size: 14px;
  }
  #buy .buy--inputs__sell--cup{
    font-size: 14px;
  }
  #buy .buy--inputs__sell--to{
    font-size: 14px;
  }
  #buy .buy--more{
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  #buy .buy--inputs__pro--add input{
    width: 277px;
    font-size: 13px;
  }
  #buy .buy--inputs__pro--add__bs button{
    font-size: 14px;
  }
  #buy .buy--inputs__sell--cup{
    font-size: 14px;
  }
  #buy .buy--inputs__sell--to{
    font-size: 14px;
  }
  #buy .buy--more{
    flex-direction: column;
  }
  #buy .buy--more__sale hr{
    width: 465px;
  }

  #buy .buy--inputs{
    flex-wrap: wrap;
  }
  #buy .buy--inputs__pro--add input {
    width: 500px;
    font-size: 18px;
  }
  #buy .buy--inputs__sell--to{
    font-size: 16px;
    width: 500px;
    margin: 10px 9px;
  }
  #buy .buy--inputs{
    justify-content: center;
  }
  #buy .buy--red{
    align-items: center;
  }
  #buy .buy--more{
    align-items: center;
  }
  #buy .buy--inputs__sell{
    flex-wrap: wrap;
    justify-content: center;
  }
  #buy .buy--inputs__sell--cup{
    width: 242px;
    margin: 10px 9px;
  }
  #buy .buy--red{
    flex-direction: column;
  }
  #buy .buy--red__btn button{
    width: 235px;
    margin: 0 13px;
  }
  #buy .buy--red__text{
    //justify-content: space-evenly;
  }
}
@media (max-width: 640px) {
  #buy .buy--inputs__sell--cup{
    width: 242px;
  }
  #buy .buy--inputs{
    flex-wrap: wrap;
  }
  #buy .buy--inputs__pro--add input {
    width: 500px;
    font-size: 18px;
  }
  #buy .buy--inputs__sell--to{
    font-size: 16px;
    width: 500px;
  }
  #buy .buy--inputs__sell{
    flex-wrap: wrap;
  }
}
@media (max-width: 540px) {
  #buy .buy--inputs__pro--add input{
    //width: 520px;
  }
  #buy .buy--more__sale hr{
    width: 210px;
  }
  #buy .buy--more__card--into{
    flex-direction: column;
  }
  #buy .buy--more{
    flex-direction: column;
    align-items: center;
  }
  #buy .buy--more__card{
    padding: 12px;
  }
  #buy .buy--inputs{
    flex-direction: column;
  }
  #buy .buy--more__card--into__flat{
    padding: 0;
  }
  #buy .buy--more__card--into__flat--img{
    width: 394px;
    height: 346px;
  }
  #buy .buy--inputs__sell{
    flex-wrap: wrap;
  }
  #buy .buy--inputs__sell--to{
    //width: 480px;
  }
  #buy .buy--inputs__pro--add input{
    width: 475px;
  }
  #buy .buy--inputs__sell select{
    padding: 14px 53px;
    margin: 8px 8px;
  }
  //}
  #buy .buy--red__btn button{
    //padding: 10px 40px;
    //margin: 0 20px;
    display: flex;

    gap: 14px;
    width: 210px;
    height: 50px;
    padding: 16px 8px;
  }
  #buy .buy--red{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
  }
  //#buy .buy--red__btn{
  //    display: flex;
  //    justify-content: space-between;
  #buy .buy--red__btn--name{
    margin: 0 40px;
    padding: 10px 20px;
  }
  #buy .buy--red__btn{
    display: flex;
    gap: 1px;
  }
  #buy .buy--red__text{
    padding: 15px;
  }
}
@media (max-width: 480px) {
  #buy .buy--inputs__pro--add input{
    //width: 370px;
    width: 386px;
  }
  #buy .buy--num{
    flex-wrap: wrap;
  }
  #buy .buy--inputs__sell--to{
    width: 400px;
  }
  #buy .buy--inputs__sell--cup{
    width: 190px;
  }
  #buy .buy--red__btn button{
    width: 182px;
  }
  #buy .buy--inputs__sell select{
    padding: 14px 19px;
  }
}
@media (max-width: 420px) {
  #buy .buy--inputs__pro--add input{
    width: 335px;
  }
  #buy .buy--inputs__sell--to{
    width: 350px;
  }
  #buy .buy--inputs__sell--cup{
    width: 166px;
  }
  #buy .buy--red__btn button{
    width: 160px;
  }
  #buy .buy--more__card--into__flat--img {
    width: 346px;
    height: 316px;
  }
}
@media (max-width: 360px) {
  #buy .buy--inputs__pro--add input{
    width: 292px;
    font-size: 14px;
  }
  #buy .buy--inputs__pro--add__bs button{
    font-size: 12px;
  }
  #buy .buy--inputs__sell--to{
    width: 300px;
  }
  #buy .buy--inputs__sell--cup{
    width: 140px;
  }
  #buy .buy--inputs__sell select{
    padding: 14px 16px;
  }
  #buy .buy--red__btn button{
    width: 132px;
    font-size: 13px;
  }
  #buy .buy--more__card--into__flat--img {
    width: 285px;
    height: 265px;
  }
}
@media (max-width: 320px) {
  #buy .buy--inputs__pro--add input{
    width: 260px;
    height: 45px;
  }
  #buy .buy--inputs__pro--add__bs button{
    padding: 8px;
  }
  #buy .buy--inputs__sell--to{
    width: 260px;
    font-size: 12px;
  }
  #buy .buy--red__btn button{
    width: 119px;
  }
  #buy .buy--inputs__sell--cup{
    width: 125px;
    font-size: 11px;
  }
  #buy .buy--more__card--into__flat--img {
    width: 260px;
    height: 250px;
  }
}