#login {
  background-image: url("../../img/loginBg.jpg");
  height: 994px;
  background-repeat: no-repeat;
  background-size: cover;

  .login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__logo {
      padding-top: 73px;
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 32px;
      color: #ffffff;
      gap: 10px;

      img {
        width: 45px;
        padding-bottom: 10px;
      }
      h1 {
        font-size: 36px;
      }
    }

    &__block {
      display: flex;
      margin-top: 65px;
      width: 644px;
      height: 541px;
      background: #ffffff;
      border: 1px solid rgba(0, 74, 96, 0.61);
      border-radius: 32px;

      &--price {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        width: 544px;
        margin: 0 auto;
        gap: 30px;
        h1 {
          text-align: center;
          color: #004a60;
          font-size: 38px;
          font-weight: 500;
        }
        &__form {
          position: relative;
          display: flex;
          margin: 0 auto;
          input {
            width: 524px;
            padding: 15px 0 15px 20px;
            border: 1px solid rgba(0, 74, 96, 0.46);
            border-radius: 11px;
            top: 0;
            bottom: 0;
            background: #ffffff;
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
              -webkit-box-shadow: inset 0 0 0 50px rgb(255, 255, 255) !important;
              -webkit-text-fill-color: rgba(0, 74, 96, 0.65) !important;
            }
            &:focus {
              outline: none;
              border-color: #47a5f4;
              box-shadow: 0px 0px 3px 0px #47a5f4;
            }
          }
          input::placeholder {
            color: rgba(0, 74, 96, 0.65);
          }
          .email {
            position: absolute;
            top: 46px;
            color: #f44336;
          }
          .password {
            position: absolute;
            top: 46px;
            color: #f44336;
          }
          .iconsGlaza {
            position: absolute;
            top: 16px;
            left: 505px;
          }
        }

        a {
          font-weight: 400;
          font-size: 16px;
          display: flex;
          line-height: 4px;
          align-items: flex-end;
          text-decoration-line: underline;
          color: #1b76f9;
          display: flex;
          margin: 0 auto;
          text-align: center;
        }

        button {
          background: #1b76f9;
          border: 1px solid #0762e5;
          border-radius: 11px;
          padding: 12px 0;
          color: #ffffff;
          font-size: 20px;
          width: 544px;
        }
        a {
          text-decoration: none;
        }
        button:disabled {
          background: #bdbaba;
          color: #ffffff;
          border: none;
          cursor: not-allowed;
        }

        .btnGoogle {
          box-sizing: border-box;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px 0px;
          background: #ffffff;
          color: #004a60;
          .icon {
            width: 70px;
            height: 35px;
          }
        }
      }
    }
  }
}
