@media (max-width: 1140px) {
  .container{
    width: 90%;
  }
}
@media (max-width: 1024px) {
  #login {
    .login {
      &__logo {
        display: flex;
        justify-content: center;
        gap: 5px;
        img {
          width: 45px;
        }
      }
    }
  }

}
@media (max-width: 992px) {
  #login {
    .login {

      &__logo {
        img {
          width: 45px;
          padding-bottom: 1px;

        }
      }
    }
  }
}
@media (max-width: 820px) {
  #login {
    .login {
      &__logo {
        img {
          width: 45px;
        }

        h1 {
          font-size: 34px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  #login{
    .login{
      &__logo{
        img{
          width: 40px;
          margin-bottom: -30px;

        }
        h1{
          margin-bottom: -30px;

        }
      }
      &__block{
        width: 584px;
        height: 541px;
        &--price{
          &__form{
            input{
              width: 500px;
            }
            .iconsGlaza{
              position: absolute;
              top: 16px;
              left: 480px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 640px) {
  #login{
    .login{
      &__logo{
        img{
          width: 30px;
        }
        h1{
          font-size: 28px;
        }
      }
      &__block{
        width: 544px;
        height: 541px;
        &--price{
          input{
            width: 470px;
          }
          .iconsGlaza{
            position: absolute;
            top: 16px;
            left: 450px;
          }

          &__form{
            //display: flex;
            //margin: 0 auto;

          }
          p{
            width: 400px;
            margin: 0 auto;
            text-align: center;
          }
          button{
            width: 470px;

          }
          .btnGoogle{
            margin: 0 auto;
            width: 470px;

          }
        }
      }
    }
  }
}
@media (max-width: 550px) {
  #login{
    .login{

      &__block{
        width: 484px;
        height: 560px;
        &--price{
          h1{
            display: block;
            margin: 0 auto;
            font-weight: 600;
            font-size: 28px;
            line-height: 27px;
            color: #004A60;

          }
          input{
            width: 400px;
          }
          .iconsGlaza{
            position: absolute;
            top: 16px;
            left: 380px;
          }

          &__form{
            //display: flex;
            //margin: 0 auto;

          }
          p{
            width: 340px;
            margin: 0 auto;
            text-align: center;
          }
          button{
            width: 430px;

          }
          .btnGoogle{
            margin: 0 auto;
            width: 430px;

          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  #login{
    .login{
      &__logo{
        img{
          width: 27px;
        }
        h1{
          font-size: 24px;
        }
      }
      &__block{
        width: 434px;
        &--price{
          input{
            width: 340px;
          }
          .iconsGlaza{
            position: absolute;
            top: 16px;
            left: 320px;
          }

          &__form{
            //display: flex;
            //margin: 0 auto;

          }
          p{
            width: 340px;
            margin: 0 auto;
            text-align: center;
          }
          button{
            width: 370px;

          }
          .btnGoogle{
            width: 370px;

          }
        }
      }
    }
  }
}
@media (max-width: 450px) {
  #login{
    .login{
      &__logo{
        img{
          width: 27px;
        }
        h1{
          font-size: 24px;
        }
      }
      &__block{
        width: 384px;
        &--price{
          input{
            width: 320px;
          }
          .iconsGlaza{
            position: absolute;
            top: 16px;
            left: 310px;
          }

          &__form{
            //display: flex;
            //margin: 0 auto;

          }
          p{
            width: 340px;
            margin: 0 auto;
            text-align: center;
          }
          button{
            width: 340px;

          }
          .btnGoogle{
            width: 340px;

          }
        }
      }
    }
  }
}
@media (max-width: 410px) {
  #login{
    .login{
      &__logo{
        img{
          width: 27px;
        }
        h1{
          font-size: 24px;
        }
      }
      &__block{
        width: 359px;
        &--price{
          input{
            width: 300px;
          }
          .iconsGlaza{
            position: absolute;
            top: 16px;
            left: 290px;
          }

          &__form{
            //display: flex;
            //margin: 0 auto;

          }
          p{
            width: 340px;
            margin: 0 auto;
            text-align: center;
          }
          button{
            width: 310px;

          }
          .btnGoogle{
            width: 310px;

          }
        }
      }
    }
  }
}
@media (max-width: 370px) {
  #login{
    .login{
      &__logo{
        img{
          width: 27px;
        }
        h1{
          font-size: 18px;
        }
      }
      &__block{
        width: 329px;
        height: 579px;
        &--price{
          input{
            width: 270px;
          }
          .iconsGlaza{
            position: absolute;
            top: 16px;
            left: 260px;
          }

          &__form{
            //display: flex;
            //margin: 0 auto;

          }
          p{
            width: 300px;
            margin: 0 auto;
            text-align: center;
          }
          button{
            width: 290px;

          }
          .btnGoogle{
            width: 290px;

          }
        }
      }
    }
  }
}
@media (max-width: 320px) {
  #login{
    .login{
      &__logo{
        img{
          width: 27px;
        }
        h1{
          font-size: 18px;
        }
      }
      &__block{
        width: 290px;
        height: 579px;
        &--price{
          input{
            width: 230px;
          }
          .iconsGlaza{
            position: absolute;
            top: 16px;
            left: 210px;
          }

          &__form{
            //display: flex;
            //margin: 0 auto;

          }
          p{
            width: 250px;
            margin: 0 auto;
            text-align: center;
          }
          button{
            width: 250px;

          }
          .btnGoogle{
            width: 250px;
            font-size: 16px;

          }
        }
      }
    }
  }
}
