@media (max-width: 1140px){
  .container{
    width: 90%;
  }
  #dream .dream--photos img{
    width: 450px;
    //height: 250px;
  }
  #dream .dream--photos__four img{
    width: 250px;
    padding: 4px;
  }
  #dream .dream--texts__text{
    //width: 1023px;
    width: 99%;
  }
  #owner .owner--maps__st iframe{
    width: 500px;
  }
  #owner .owner--maps__shan img{
    width: 150px;
  }
  #dream .dream--texts__stay--second__mini{
    width: 310px;
  }
}
@media (max-width: 1024px) {
  #owner .owner--maps__st iframe{
    //width: 480px;
  }
  #owner .owner--tv__timur{
    //width: 325px;
  }
  #dream .dream--photos img{
    width: 470px;
    //height: 330px;
  }
  #dream .dream--photos__four img{
    width: 207px;
    //width: 250px;
  }
  #owner .owner--maps__shan img{
    width: 140px;
  }
}

@media (max-width: 992px) {
  #dream .dream--texts__stay--second__mini{
    width: 220px;
  }
  #dream .dream--photos img{
    width: 442px;
    //height: 330px;
  }
  #dream .dream--photos__four img{
    width: 200px;
    //width: 250px;
  }
  #owner .owner--maps__shan img{
    width: 140px;
  }
  #owner .owner--maps__st iframe{
    width: 455px;
  }
}
@media (max-width: 820px) {
  #dream .dream--photos__four{
    display: none;
  }
  #dream .dream--texts__text h3{
    font-size: 16px;
  }
  #dream .dream--texts__stay p{
    width: 415px;
  }
  #dream .dream--texts__stay--second__mini{
    height: 184px;
  }
  #owner .owner--tv{
    flex-direction: column;
  }
  #owner .owner--maps__shan img{
    width: 220px;
  }
  #owner .owner--maps__shan{
    padding: 0 0 30px 0;
  }
}
@media (max-width: 540px) {
}