#lesile2 {
  padding: 70px 0;
  .lesile2 {
    &--block {
      display: flex;
      align-items: start;
      justify-content: space-around;
      &__group {
        display: flex;
        align-items: center;
        width: 499px;
        justify-content: space-between;
        gap: 20px;
        border-bottom: 1px solid black;
        padding: 0 0 30px 0;
        img {
          width: 49.2%;
        }

        &--text {
          width: 220px;
          a {
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 22.43px;
            line-height: 43px;
            color: #004A60;
            display: flex;
            align-items: center;
            width: 180px;
            justify-content: space-between;
            text-decoration-line: underline;
          }

          h4 {
            font-family: 'Poppins',sans-serif;
            font-weight: 500;
            font-size: 28.43px;
            line-height: 43px;
            color: #004A60;
            padding: 18px 0 16px 0;
          }
          h3{
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            //text-align: center;
            color: #004A60;
          }
          p {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            //text-align: center;
            padding: 95px 0 0 0;
            color: rgba(0, 74, 96, 0.7);
          }
        }
      }

      &__contact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 23px;
        gap: 40px;
        height: 214px;
        border: 1px solid rgba(0, 74, 96, 0.5);
        border-radius: 16px;
        h2 {
          font-family: 'Poppins', sans-serif;
          font-weight: 300;
          font-size: 21.33px;
          line-height: 32px;
          margin: 0 auto;
          text-transform: uppercase;
          color: #004A60;
          padding: 10px 0 0 0;
        }

        &--btn {
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0;
          gap: 16px;

          button {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: rgba(0, 74, 96, 0.7);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 16px 24px;
            gap: 8px;
            width: 222px;
            height: 56px;
            border: 1px solid rgba(0, 74, 96, 0.5);
            border-radius: 8px;
            transition: .3s;
            &:hover{
              background: #0762E5;
              color: #FFFFFF;
            }
          }
        }
      }
    }

    &--group2 {
      display: flex;
      align-items: center;
      justify-content: space-around;

      &__text {
        width: 499px;
        h1 {
          font-family: 'Poppins', sans-serif;
          font-weight: 500;
          font-size: 21.33px;
          line-height: 32px;
          color: #004A60;
          padding: 0 0 32px 0;
        }

        &--para {
          padding: 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          width: 229px;
          height: 104px;

          p {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: rgba(0, 74, 96, 0.7);
          }
        }
      }

      &__compy {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px;
        gap: 40px;
        width: 270px;
        height: 320px;
        border: 1px solid rgba(0, 74, 96, 0.5);
        border-radius: 16px;
        box-sizing: border-box;

        h2 {
          font-family: 'Poppins', sans-serif;
          font-weight: 300;
          font-size: 21.33px;
          line-height: 32px;
          text-align: center;
          text-transform: uppercase;
          color: #004A60;
        }
        img {
          width: 90%;
        }
      }
    }
  }
}