@import "src/companents/Header/header";
@import "src/companents/Footer/footer";
@import "src/media/media";
@import "src/companents/Home/home";
@import "src/companents/Home/Easy/easy";
@import "src/companents/Home/Explore/explore";
@import "src/companents/Home/ExploreSwip/exploreSwip";
@import "src/companents/Home/Meet/meet";
@import "src/companents/Home/media";
@import "src/companents/FavoritesSetings/favoriteSetings";
@import "src/companents/FavoritesSetings/media";
@import "src/companents/Favorite/favorite";
@import "src/companents/Favorite/media";
@import "src/companents/PaidAd/paidAd";
@import "src/companents/PaidAd/PaidSelec/paidSelec";
@import "src/companents/PaidAd/PaidSelec/media";